:root {
    /* Primary */

    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);

    /* Neutral */

    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Karla', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    height: auto;
}

/* .info-box {

}

.subscription-box {

}

.about-us-box {

} */

footer { 
    font-size: 1.1rem; 
    text-align: center; 
}

footer a { 
    color: hsl(228, 45%, 44%); 
}